$color-border: #ededed;
$color-primary: #00A0FC;
$color-text: #212529;
$color-placeholder: #9d9d9d;
$color-light-bg: #F9F9F9;

.component {
  max-width: 420px;

  :global {
    .react-select {
      &__control {
        border-color: $color-border;
        background-color: white;
        min-width: 240px;
        border-radius: 0;

        &--is-focused,
        &:hover {
          box-shadow: none;
          border: 1px solid $color-primary !important;
        }
      }

      &__menu {
        border-radius: 0;
      }

      &__group {
        padding-bottom: 0;
      }

      &__group-heading {
        font-weight: bold;
        text-transform: none;
        font-size: 14px;
        color: $color-text;
      }

      &__value-container {
        padding: 9px;
      }

      &__placeholder {
        color: $color-placeholder;
      }

      &__option {
        cursor: pointer;
        outline: 0;
        display: flex;
        margin-bottom: .5rem;

        &:last-child {
          margin-bottom: 0;
        }

        &--is-selected {
          background-color: $color-primary !important;
          color: white !important;
        }

        &:hover,
        &--is-focused {
          background-color: darken($color-light-bg, 2%);
        }
      }

      &__indicator-separator {
        background-color: $color-border;
      }
    }
  }
}

.group {

}

.groupLabel {
  font-weight: bold;
  text-transform: none;
  font-size: 14px;
  color: $color-text;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.groupOptions {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.optionTime {
  margin-left: auto;
}

.dropdownIndicator {
  height: 24px;
  width: 32px;
  color: rgb(204, 204, 204);
}

.dropdown {
  position: relative;
}

.isOpen {
  .menu,
  .blanket {
    display: block
  }
}

.menu {
  position: absolute;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.08);
  margin-top: 8px;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.08);
  display: none;
  min-width: 420px;
}

.blanket {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
}

.menuWrap {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.btn {
  -webkit-box-align: baseline;
  align-items: baseline;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  height: 2.28571em;
  line-height: 2.28571em;
  max-width: 100%;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  color: rgb(80, 95, 121);
  background: rgba(9, 30, 66, 0.04);
  border-radius: 3px;
  border-width: 0;
  margin: 0;
  padding: 0 8px;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  outline: none !important;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;

  &:hover,
  &.btnIsSelected {
    color: rgb(80, 95, 121) !important;
    background: rgba(9, 30, 66, 0.08) !important;
  }
}

.btnContent {
  align-self: center;
  display: inline-flex;
  flex-wrap: nowrap;
  max-width: 100%;
}

.btnLabel {
  align-items: center;
  align-self: center;
  flex: 1 1 auto;
  margin: 0 4px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btnIconAfter {
  align-self: center;
  display: flex;
  flex-shrink: 0;
  line-height: 0;
  font-size: 0;
  margin: 0 4px;
  user-select: none;
}
